<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Activiz.NET.x86" version="5.8.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="GDAL" version="2.4.3" targetFramework="net472" />
  <package id="GDAL.Native" version="2.4.3" targetFramework="net472" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net472" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net472" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net472" />
</packages>